body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --song-back-background-color: #F26B6B;
  /* #F2F2F2; */
  --song-item-background-color: #F2CEA2;
  /* #809FA6; */
  --song-item__description-color: #F20C60;
  /* #D9B1AD;*/
}